@font-face {
    font-family: "Calligraphy";
    src: url({{ font }});
}

body {
    background-image: url({{ image }});
}

.text {
    position: absolute;  /* Position will be set by script */
    display: flex;
    justify-content: center;
}

.text p {
    padding: 0;
    margin: 0;
    -webkit-writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Calligraphy";
}

.title {
    display: flex;
    align-items: flex-start;
}

.main {
    display: flex;
    align-items: center;
}

.signature {
    display: flex;
    align-items: flex-end;
}