@font-face {
    font-family: "Calligraphy";
    src: url({{ font }});
}

body {
    margin: 0;
}

.scroll {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-image: url({{ fg }});
}

.scroll:before {
    background-image: url({{ bg }});
    filter: hue-rotate({{ hue }}deg);

    display: block;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;  /* Position will be set by script */
    display: flex;
    justify-content: center;
}

.text p {
    padding: 0;
    margin: 0;
    -webkit-writing-mode: vertical-rl;
    /*text-orientation: upright;*/
    font-family: "Calligraphy";
}

.title {
    display: flex;
    align-items: flex-start;
}

.main {
    display: flex;
    align-items: center;
}

.signature {
    display: flex;
    align-items: flex-end;
}