@font-face {
    font-family: "Seal Script";
    src: url({{ font }});
}

body {
    margin: 0;
}

.seal {
    background-image: url({{ bg }});
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url({{ texture }});
    -webkit-mask-size: 180px;
}

.seal span {
    background-color: hsl({{ hue }}, 50%, 50%);
    font-family: "Seal Script";
    font-size: 450px;
    padding: {{ padding }};
    border-radius: 25px;
    color: white;
    mix-blend-mode: multiply;
    line-height: {{ line_height }}px;
    letter-spacing: {{ letter_spacing }}px;
}

.positive {
    background: transparent !important;
    border-style: solid;
    border-color: hsl({{ hue }}, 50%, 50%);
    border-width: 26px;
    color: hsl({{ hue }}, 50%, 50%) !important;
}